.idea/
__pycache__/
*.log
log/
logs/
/homework/.ipynb_checkpoints/
/homework/01-基礎影像處理/.ipynb_checkpoints/
/homework/02-電腦視覺深度學習基礎/.ipynb_checkpoints/
/homework/03-CNN 應用案例學習/.ipynb_checkpoints/
/homework/03-CNN 應用案例學習/Object Detection程式導讀/
